.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-ab{
  padding-top: 40px;
}

.header-side{
  text-align: left;
}
.container {
  width: 100%;
}

.scroll{
overflow: auto;

}

.scrool img{
padding: 10px;
}

.table {
  padding-left: 0px;
width: 100%;
}

.table1 {
  padding-left: 0px;
  width: 100%;
}

.table2{
  /* padding-left: 10%; */
  width: 90%;
}

.table3 {
  width: 100%;
}

.table3 td {
  width: 25%;
}

.container1{
  padding-left: 10%;
}


.containerbox{
  /* padding-left: 10%; */
}

.th ,tr ,td{
  /* width: 40%; */
  /* height: 40%; */
  align-items: center;

}

.img2{
  width: 4%;
}

.img1 {
  padding-top: 20px;
  width: 80%;
  height: 40%;
  align-items: center;
  padding-left: 10%;
}

.img3 {
  width: 25%;
}

.containers {
  padding-left: 200px;
  width: 40%;
  height: 40%;
}

.containers1 {

  width: 100%;
  /* height: 40%; */
}

.container2 {
  width: 50%;
}

.left{
  padding-left: 10%;

}

.right{
  padding-right: 10%;

}

.input-text{

  width: 400px;
  height: 30px;
}

.containers2 {

  background-color: #61dafb;
  width: 100%;
  height: 100%;
  /* padding-right: 10px; */
  /* height: 40%; */
}


.button {
  box-decoration-break: none;
  text-decoration-line: none;
  padding-right: 20px;
  width: 100px;
}

.button1 {
  /* width: 50px; */
  /* height: 30px; */
 border: none;
 text-align: end;
 padding-left: 5%;
 padding-right: 5%;
 text-decoration: none;
 /* background-color: aqua; */
}

.header {
  height: 40px;
  width: 100%;
  background: blue;
  text-align: end;
  align-content: end;
}

.navbar {
  position: relative;
}

.navbar ul{
  list-style-type: none;
}

.navbar li{
  display: inline-block;
  padding-right: 100px;
}

.navbar li ul {
  padding: 0;
}

.navbar ul ul {
  position: absolute;
  display: none;
}

.navbar ul ul li{
  display: block;
  text-align: left;
}

.navbar ul li ul li{
padding-left: 0px;
}

.navbar li:hover ul{
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: gray;
  align-content: baseline;
}
.footer-body{
  /* text-align: end; */
  padding-top: 20px;
  padding-left: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
